.about__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
  padding-top: 30px;
}
.text {
  color: var(--0-e-2149, #0e2149);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration-line: underline;
}
.text_active {
  color: var(--717171, #717171);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.desc {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 7px;
  span {
    width: 3px;
    height: 3px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../../assets//icon/dote.svg");
  }
}
.title {
  color: var(--0-e-2149, #0e2149);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 17px;
}
.category_box {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 19px;
}
.select {
  color: #b8c1ca;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 14px 149px 10px 19px;
  border: 1px solid  #b8c1ca;
  background-color: #fff;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url("../../assets/icon/arrow.svg");
  background-position: right 18px center;
  outline: none;
  margin-bottom: 53px;
}
