.hero {
  padding-top: 113px;
  padding-bottom: 143px;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/HeroBg.png");
  background-size: cover;
  background-position: center;
}
.title {
  color: #fff;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 32px;
}
.text {
  color: #fff;
  font-family: "Times New Roman";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 130%;
  text-transform: lowercase;
  max-width: 353px;
  margin-bottom: 17px;
  span {
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 770px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .title {
    font-size: 42px;
  }
  .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 470px) {
  .hero {
    background-repeat: no-repeat;
    background-image: url("../../assets/img/heroMobile_bg.png");
  }
  .title {
    font-size: 22px;
    max-width: 30%;
    white-space: wrap;
  }
  .text {
    max-width: 55%;
    font-size: 14px;
  }
}
