.full {
  width: 49%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  height: 260px;
  img {
    margin-bottom: -5px;
  }
}
.small {
  width: 32%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  height: 260px;
  img {
    margin-bottom: -5px;
  }
}
.title {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.price {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 18px */
  max-width: 225px;
  width: 100%;
}
.desc {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@media screen and (max-width: 930px) {
  .full {
    max-width: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .small {
    max-width: 45%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 650px) {
  .full {
    max-width: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .small {
    max-width: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
