.text {
  color: var(--0-e-2149, #0e2149);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 9px 14px;
  border-radius: 20px;
  border: 1px solid  #d5af86;
}
